body{margin:0; padding:0; background-color: #0b0b0c; font-family: "Archivo", system-ui, sans-serif;}

header{max-width:100%;}
/* NAVIGATION AREA */
nav {max-width: 1200px; margin: 0 auto; border-bottom: 1px solid #999; display:flex;}

.nav-links li a {color: #999; text-decoration: none;}

.logo{margin: auto;
    margin-left: 0;}

nav ul{display:flex; list-style: none; justify-content:center;gap: 30px;}

nav li {color: #999; font-size: 22px; }

